<div class="container-customers-list">
  <% customers.forEach(customer => { %>
      <div class="container-customer">
        <div>
          <p><%= customer.name %></p>
          <p><%= customer.email %></p>
        </div>
        <div>
          <p>Cpf: <%= customer.cpf %></p>
          <p>Telefone: <%= customer.phone %></p>
        </div>
        <div>
          <p><%= customer.status %></p>
        </div>
          <a href="/customers/edit" class="button-edit">
            <button>
              Editar
            </button>
          </a>
      </div>
      <% }); %>
</div>

