<div>
  <% customers.forEach(customer => { %>
      <div class="customers-list-container">
        <div>
          <p>Name: <%= customer.name %></p>
          <p>email: <%= customer.email %></p>
        </div>
        <div>
          <p>cpf: <%= customer.cpf %></p>
          <p>phone: <%= customer.phone %></p>
        </div>
        <div>
          <p>status: <%= customer.status %></p>
        </div>
      </div>
      <% }); %>
</div>

