<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
 
<body>
    <h1>User List</h1>
    <ul>
        <% customers.forEach(customer => { %>
            <li>
              Name: <%= customer.name %>,
              email: <%= customer.email %>,
              cpf: <%= customer.cpf %>,
              phone: <%= customer.phone %>,
              status: <%= customer.status %>,
            </li>
            <% }); %>
    </ul>
</body>
 
</html>